# 1. Pandas Exercise -1

1. 전체 평균 연비(도시/고속)
    
    문제: 전체 차량의 **cty**(도시 mpg), **hwy**(고속 mpg) 평균을 구하세요.
    
    정답: cty 평균 **16.86**, hwy 평균 **23.44**

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

# display(df.head())

mean_cty = df['cty'].mean()
mean_hwy = df['hwy'].mean()

print(f'cty평균 {mean_cty:.2f}, hwy평균 {mean_hwy:.2f}')

cty평균 16.86, hwy평균 23.44

2. 제조사별 차량 수 Top 3
    
    문제: **manufacturer** 별 행(차량) 수를 구하고 상위 3개를 내림차순으로 제시하세요.
    
    정답
    
    1. dodge 37대
    2. toyota 34대
    3. volkswagen 27대

In [20]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

car_group = df.groupby('manufacturer')

sell_rank = car_group.manufacturer.count()

top3 = sell_rank.sort_values(ascending=False)

display(top3.head(3))

manufacturer
dodge         37
toyota        34
volkswagen    27
Name: manufacturer, dtype: int64

3. 구동 방식(drv)별 고속 연비 평균
    
    문제: **drv**(f=전륜, r=후륜, 4=사륜)별 **hwy** 평균을 내림차순으로 구하세요.
    
    정답
    
    - f: 28.16
    - r: 21.00
    - 4: 19.17

In [37]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

drv_group = df.groupby('drv')

hwy_mean = drv_group.hwy.mean()

print(f'f: {hwy_mean.iloc[1]:.2f}\n'
      f'r: {hwy_mean.iloc[2]:.2f}\n'
      f'4: {hwy_mean.iloc[0]:.2f}')

f: 28.16
r: 21.00
4: 19.17

4. 1999년 vs 2008년 고속 연비 평균 차이
    
    문제: **year**가 1999와 2008인 차량들의 **hwy** 평균과, (2008–1999) 차이를 구하세요.
    
    정답
    
    - 1999년: 23.43, 2008년: 23.45 → 차이 +0.02

In [41]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

year_group = df.groupby('year')

mean_hwy = year_group.hwy.mean()

gap = mean_hwy.iloc[1] - mean_hwy.iloc[0]
gap_cut = np.floor(gap * 100) / 100

print(f'1999년:{mean_hwy.iloc[0]:.2f}, 2008년:{mean_hwy.iloc[1]:.2f} → 차이 +{gap_cut:.2f}')

1999년:23.43, 2008년:23.45 → 차이 +0.02

5. 배기량 2.0~3.0(L) 차량 수
    
    문제: **displ**이 2.0 이상 3.0 이하인 차량의 개수를 구하세요.
    
    정답: 86대

In [46]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

displ_group = df.loc[(df['displ'] >= 2.0) & (df['displ'] <= 3.0)]

print(f'{displ_group.displ.count()}대')

86대

6. 제조사별 복합연비 최고(표본≥5)
    
    문제: **combined_mean = (cty + hwy) / 2**로 복합연비를 정의합니다. 표본 수가 5대 이상인 제조사 중 평균 복합연비가 가장 높은 제조사와 값을 구하세요.
    
    정답: honda 28.50

In [ ]:
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

df['combined_mean'] = df[['cty', 'hwy']].mean(axis=1)

grouped = df.groupby('manufacturer').agg(
    avg_combined=('combined_mean', pd.Series.mean),
    count=('combined_mean', pd.Series.count)
)

# 표본 수가 5대 이상인 것만 필터링
filtered = grouped[grouped['count'] >= 5]

# 최댓값 찾기
max_row = filtered.loc[filtered['avg_combined'].idxmax()]

print(filtered['avg_combined'].idxmax(), round(max_row['avg_combined'], 2))

honda 28.5

7. 차급(class)별 최고 고속연비 차량
    
    문제: 각 **class**에서 **hwy**가 최대인 (제조사, 모델, 연식, hwy) 1대를 구하세요(동률 시 임의 1대).
    
    정답
    
    - 2seater: chevrolet corvette (2008), hwy 26
    - compact: volkswagen jetta (1999), hwy 44
    - midsize: toyota camry (2008), hwy 32
    - minivan: dodge caravan 2wd (1999), hwy 24
    - pickup: toyota tacoma 4wd (2008), hwy 22
    - subcompact: volkswagen new beetle (1999), hwy 44
    - suv: subaru forester awd (2008), hwy 27

In [76]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

# group_fea = df.groupby('class').agg(
#     max_hwy = ('hwy', pd.Series.max),
# )
hwy_max = df.groupby('class')['hwy'].idxmax()

result = df.loc[hwy_max, ['class', 'manufacturer', 'model', 'year', 'hwy']]

for index, row in result.iterrows():
    print(f"{row['class']}: {row['manufacturer']} {row['model']} {row['year']} {row['hwy']}")

2seater: chevrolet corvette 1999 26
compact: volkswagen jetta 1999 44
midsize: nissan altima 2008 32
minivan: dodge caravan 2wd 1999 24
pickup: toyota toyota tacoma 4wd 2008 22
subcompact: volkswagen new beetle 1999 44
suv: subaru forester awd 2008 27

8. 변속기 유형(수동 vs 자동)별 고속 연비 평균
    
    문제: **trans**에 manual 포함 여부로 수동/자동을 분류하고, 각 집단의 **hwy** 평균을 비교하세요.
    
    정답
    
    - manual: 25.78
    - auto: 22.29 → 수동이 평균적으로 더 높은 고속연비

In [92]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

df['trans_type'] = df['trans'].apply(lambda x: 'manual' if 'manual' in x else 'auto')

trans_hwy = df.groupby('trans_type')['hwy'].mean()

print(f'manual: {trans_hwy.iloc[1]:.2f}\nauto: {trans_hwy.iloc[0]:.2f}')

manual: 25.78
auto: 22.29

9. 1999→2008 평균 고속연비가 가장 많이 오른 제조사
    
    문제: 제조사별로 1999년과 2008년 **hwy** 평균의 차이(2008–1999)를 구해, 개선 폭이 가장 큰 제조사를 찾으세요.
    
    정답: land rover +3.00

In [128]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/mpg.csv')

new_df = df[['manufacturer', 'year', 'hwy']]

man_mean = new_df.groupby(['manufacturer', 'year'])['hwy'].mean().unstack()

sub_man = man_mean[2008] - man_mean[1999]

result_new = sub_man.idxmax()
val_new = sub_man.max()
print(f'{result_new} +{val_new:.2f}')

land rover +3.00

# 2. Pandas Exercise - 2

1. 기상 관측 이래, 서울의 최고 기온이 가장 높았던 날은 언제였고, 몇도인가요?
    
    정답 : **2018년 8월 1일**, 최고 기온 **39.6도**

In [157]:
import numpy as np
import pandas as pd


df = pd.read_csv('./data/seoul.csv', encoding='cp949', skiprows=6)

df['날짜'] = pd.to_datetime(df['날짜'])

y = df.loc[df['최고기온(℃)'].idxmax()]

day = y['날짜'].strftime('%Y년 %m월 %d일')
degr = y['최고기온(℃)']

print(f'{day}, 최고 기온 {degr}도')

2018년 08월 01일, 최고 기온 39.6도

2. 서울기온에 대해 역사적으로 일교차가 가장 큰 날짜는 몇년 몇월 몇일 인가요?
    
    정답 : **1942년 4월 19일**, 일교차 **21.8도**

In [166]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/seoul.csv', encoding='cp949', skiprows=6)
df['날짜'] = pd.to_datetime(df['날짜'])

df['일교차'] = df['최고기온(℃)'] - df['최저기온(℃)']

result = df.loc[df['일교차'].idxmax()]

day = result['날짜'].strftime('%Y년 %m월 %d일')
gap_degrees = result['일교차']

print(f'{day}, 일교차 {gap_degrees}도')

1942년 04월 19일, 일교차 21.8도

3. 서울기온에 대해 1년 중 평균적으로 일교차가 가장 큰 날짜는 몇월 몇일 인가요?
    
    (1월1일의 일교차의 평균을 구할 수 있습니다. 매년 1월 1일은 있으니까요. 이렇게 각 월일에 대해 일교차의 평균을 구할 수 있는데 이 중 가장 일교차가 큰 날짜의 월일을 구하세요!)
    
    정답 : **4월 29일**, 평균 일교차는 약 **11.95도**

In [181]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/seoul.csv', encoding='cp949', skiprows=6)
df['날짜'] = pd.to_datetime(df['날짜'])

df['일교차'] = df['최고기온(℃)'] - df['최저기온(℃)']

df['월일'] = df['날짜'].dt.strftime('%m-%d')

anual_gap = df.groupby('월일')['일교차'].mean()

day = anual_gap.idxmax()
months, days = day.split('-')
deg = anual_gap.max()

print(f"{months}월 {days}일, 평균 일교차는 약 {deg:.2f}도")

04월 29일, 평균 일교차는 약 11.95도

4. 가장 덥다고 알려진 대구보다 서울이 더 더운날(평균기온을 기준으로)이 가장 많은 연도는 언제인가요?
    
    정답 : 서울이 대구보다 평균 기온이 더 높은 날이 가장 많은 연도는 **2016년**이며, 그 해에는 총 **137일** 동안 서울의 평균 기온이 대구보다 더 높았습니다.

In [228]:
import pandas as pd

df_seoul = pd.read_csv('./data/seoul.csv', encoding='cp949', skiprows=6)
df_daegu = pd.read_csv('./data/daegu.csv', encoding='cp949', skiprows=6)

df_seoul = df_seoul.rename(columns={'평균기온(℃)' : '서울 평균기온(℃)'})
df_daegu = df_daegu.rename(columns={'평균기온(℃)' : '대구 평균기온(℃)'})

df_seoul['날짜'] = pd.to_datetime(df_seoul['날짜'])
df_daegu['날짜'] = pd.to_datetime(df_daegu['날짜'])

df_seoul['연도'] = df_seoul['날짜'].dt.year

df_seoul = df_seoul[['날짜', '연도', '서울 평균기온(℃)']]
df_daegu = df_daegu[['날짜', '대구 평균기온(℃)']]

result_df = pd.merge(df_seoul, df_daegu, on='날짜')

result_df = result_df.dropna(axis=0, how='any')

result_df['서울>대구'] = result_df['서울 평균기온(℃)'] > result_df['대구 평균기온(℃)']

# display(result_df)

weather = result_df.groupby('연도')['서울>대구'].sum()

print(f"""서울이 대구보다 평균 기온이 더 높은 날이 가장 많은 연도는 {weather.idxmax()}이며, 그 해에는 총 {weather.max()} 동안 서울의 평균 기온이 대구보다 더 높았습니다.""")

서울이 대구보다 평균 기온이 더 높은 날이 가장 많은 연도는 2016이며, 그 해에는 총 137 동안 서울의 평균 기온이 대구보다 더 높았습니다.

# 3. Pandas Exercise - 3

1. 사용자가 평가한 모든 영화의 전체 평균 평점을 출력하세요.

In [233]:
import pandas as pd

df = pd.read_csv('./data/ratings.csv')

print(df['rating'].mean())

3.501556983616962

2. 가장 많이 평가된 영화는 무엇인가?
     단, 동률이 있으면 모두 출력하고 title을 기준으로 오름차순 정렬하세요.

In [264]:
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings.csv')

new_ratings = df_ratings.groupby('movieId')['userId'].count()

new_ratings = pd.DataFrame(new_ratings)
new_ratings = new_ratings.rename(columns={'userId' : 'count_user'})

# display(new_ratings)

good_rate = pd.merge(df_movies, new_ratings, on='movieId')

max_count = good_rate['count_user'].max()
new_result = good_rate[good_rate['count_user'] == max_count].sort_values('title')

new_result[['movieId', 'title']]

     movieId                title
314      356  Forrest Gump (1994)

3. 가장 많은 영화를 포함하는 장르는 무엇인가?
   단, 동률이 있으면 모두 출력하고 장르를 기준으로 오름차순 정렬하세요.

In [24]:
# 3. 가장 많은 영화를 포함하는 장르는 무엇인가?
#    단, 동률이 있으면 모두 출력하고 장르를 기준으로 오름차순 정렬하세요.

import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings.csv')

genres = df_movies['genres'].str.split('|').explode()

genres_counts = genres.value_counts()

max_count = genres_counts.max()

most_common_genres = genres_counts[genres_counts == max_count].sort_index()

print(most_common_genres.index.tolist())

['Drama']

4. 가장 높은 평균 평점을 받은 장르는 무엇인가?
   단, 동률이 있으면 모두 출력하고 장르를 기준으로 오름차순 정렬하세요.

In [70]:
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings.csv')

merged = pd.merge(df_movies, df_ratings, on='movieId')

merged = merged.assign(genres=merged['genres'].str.split('|')).explode('genres')

genre_mean = merged.groupby('genres')['rating'].mean()
# print(genre_mean)

max_mean = genre_mean.max()

most_common_genres = genre_mean[genre_mean == max_mean].sort_index()

print(most_common_genres.index.tolist())

['Film-Noir']

5. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?

In [71]:
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings.csv')

df_ratings['year'] = pd.to_datetime(df_ratings['timestamp'], unit='s').dt.year

ratings_2015 = df_ratings[df_ratings['year'] == 2015]

romance_movies = df_movies[df_movies['genres'].str.contains('Romance')]

merged_2015 = pd.merge(ratings_2015, romance_movies, on='movieId')

print(merged_2015['rating'].mean())

3.396375098502758

6. 가장 많은 장르를 포함한 영화는 무엇인가?
   단, 동률이 있을 경우 모두 출력하고 title을 기준으로 오름차순 정렬하세요.

In [ ]:
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings.csv')